body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	background-color: #f3f3f3;
	color: #161616;
}

a:link {
	text-decoration: none;
	color: #d3d3d3;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

p {
	margin: 0.3em;
}

header {
	color: white;
	max-width: 80%;
	margin: 0 auto;
}

#header, #footer{
	background-color: #2a3440;
	margin: 0;
	padding: 20px 0;
}


#footer{
	text-align: center;
}

#container{
	width: 1000px;
	max-width: 90%;
	margin: 0 auto;
}

#opciones{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	text-align: center;
	padding: 1px 30px 1px 30px;
	background-color: #f3f3f3;
	width: 50%;
	max-width: 55%;
	float: left;
}

#resultado{
	width: 30%;
	padding-top: 16%;
	text-align: center;
	float: right;
}


.bloque{	
  	border: 1px solid #D1D3D4;
	background-color: #f3f3f3;
	padding: 0.7em;
	margin: 1.5em 0px 0px 0px;
	border-radius: 6px;
}


form input[type="submit"]{
	display: block;
	font-family: "Open Sans",sans-serif;
	font-weight: normal;
	padding: 7px;
	margin: 1.5em auto 1.5em auto;
}

form input[type="radio"]{
	visibility: hidden;
	margin: 0;
}

form .bloque p{
	margin: 15px 0px;
}

label{
	cursor: pointer;
	margin: 0;
	border: 1px solid #f3f3f3;
	border-radius: 4px;
	padding: 5px;
}

form input[type="radio"] + label{
	border: 2px solid #f3f3f3;
}

form input[type="radio"]:hover + label{
	border-color: #d3d3d3;
	color: #161616;
}

form input[type="radio"]:checked.primera-cualidad + label {
	border-color: #cc0000;
	color: #cc0000;
}

form input[type="radio"]:checked.segunda-cualidad + label {
	border-color: #ffff00;
}

form input[type="radio"]:checked.tercera-cualidad + label {
	border-color:  #007f00;
	color: #007f00;
}



